/* Array visualisation */

#array-container {
    height: 320px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 4px;
    margin-top: 30px;
}

#array-container div {
    width: 15px;
    background-color: blue;
}
#array-container div.comparing {
    background-color: red;
}
